/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/**************************************/

body {
  background: #7a15a1;
  color: #888;  
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.grid {
  margin: 0 auto;
  width: 100%;	
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
 
.content-col {
  display: inline-block;	  
} 

.content-row {
  background: #d7e0d8;
  padding: 66px 0 44px 0;
}

.subtitle {
  color: #050033;	
  font-size: 21px;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1 {
  color: #e0ccff;	
  font-size: 36px;
  line-height: 44px;
}

h2 {
  color: #d7ccff;	
  font-size: 24px;
  line-height: 44px;
}

h3 {
  color: #ccecff;	
  font-size: 21px;
}

h4 {
  color: #cce8ff;	
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  color: #b3badf;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a, .primary-footer a {
   color: #ffffff;
}

.primary-header a:hover, .primary-footer a:hover {
  color: #a958b4;
}

.logo {  
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.copyright {
  float: left;
  color: #ccffcc;
}

.nav {
  text-align: right;
  width: 100%;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.title {
  color: #fff;
  line-height: 44px;
  padding: 22px 48px 66px 120px;
  text-align: center;
}

.title h2 {
  font-size: 36px;
}

.title p {
  font-size: 24px;
  font-weight: 100;
}

.highlight a:hover h3 {
  color: #a9b2b9;
}

.highlight img {
  border-radius: 5px;
  margin-bottom: 22px;
  max-width: 50%;
  border: solid;
  padding: 20px 30px 20px 30px;
  display: inline-block;
}


/**************************************/
/*   css to make the page responsive  */
 
* {
  box-sizing: border-box;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
  width: 100%;
}

/*
roughly 
- desktop  max-width: 992px
- medium size tablet  max-width: 768px
- mobile  max-width: 480px  
*/

/* change font and size with media queries */ 
@media only screen and (max-width: 768px) {
  body {
    background-color: black; 
  }
}
	

@media only screen and (min-width: 600px) {
  /* For tablets: */   
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;} 
}


/* 3.3 Add CSS rules to adjust screen that is smaller than 768px (for example, tablets and mobile phones) */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* If the screen size is 600px or less, set the font-size and padding (for example, small tablets and mobile phones) */
@media only screen and (max-width: 600px) {
  .title h2 {
     font-size: 24px;
  } 
  .title p {
     font-size: 20px;
  }  
  .logo {       
     font-size: 36px;
  }
  .container {
     padding-left: 24px;
     padding-right: 20px;
  }  
  .title {  
     line-height: 40px;
     padding: 30px 20px 20px 40px;
  }
}

/* hide the top content when the screebn is smaller than 600px */
@media only screen and (max-width: 600px) {
  #fadeshow {
    display: none;
  }
}
  
.row { width: 100%; }
  